*{
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #f0f0f0;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.card{
    width: 18.75rem;
    background-color: #fff;
    margin: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.125rem 0.25rem rgba(0,0,0,0.2);
    overflow: hidden;
    transition: 0.3s;
}

.card img{
    width: 100%;
    display: block;
    object-fit: fill;
    height: 10rem !important; /* To get exact same height for each image */
}

.card-content{
    padding: 1.25rem;
}

.card-content h1{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.25rem;
}

.card-content p{
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 1.25rem;
    line-height: 1.2;
}

.card-content .btn{
    display: inline-block;
    padding: 1.25rem 1.25rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 0.313rem;
    transition: 0.3s;
}